a.navbar-brand {
    width: 7.5%;
}

a.navbar-brand img {
    width: 100%;
    padding: 5px;
}

.ara {
    padding-right: 50px !important;
}
.login {
    background: right center no-repeat url(download.svg);
    padding-right: 40px !important;
}
li.nav-item > a { 
    font-size: 13px;
}




.back-image{
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-Hero-MSCOM-Outlook-iOS-Android:VP4-1260x600);
    height: 600px;
    margin-top: 10rem;
    margin-bottom: 7rem;
    background-position: center;
    background-size: cover;
    
}
.carousel-left-caption{
    margin-bottom: 15rem;
    margin-right: 50rem;
}




/* Carousel */

.anasayfa-carousel-caption-right {
    left: 60%;
    bottom: 30%;
  }
  
  .anasayfa-carousel-caption-right span {
    padding: 2px;
    background-color: #ffd800;
    color: #000;
    font-weight: 400;
    font-size: 13px;
  }
  
  .anasayfa-carousel-caption-right h2 {
    font-size: 62px;
    line-height: 72px;
    color: #fff;
    margin-top: 15px;
  }
  
  .anasayfa-carousel-caption-right p {
    color: #fff;
    font-size: 34px;
    line-height: 40px;
  }
  
  .anasayfa-carousel-caption-right button {
    transition: all 2000ms ease-in-out;
    padding: 5px 20px;
    border-radius: 0;
    font-size: 15px;
    position: relative;
    border: 2px solid transparent;
    max-width: 100%;
    display: inline-block;
    color: #054b16;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 transparent;
    background: #9bf00b;
    margin-top: 20px;
  }
  
  .anasayfa-carousel-caption-right button:hover {
    text-decoration: underline;
  }
  
  .anasayfa-carousel-caption-right button:hover > .bi-chevron-right {
    padding-left: 10px;
    transition: all 200ms ease-in-out;
  }
  
  .footer-alt {
    padding: 15px 5px;
  }
  
  .footer-alt ul {
    display: inline-block;
  }

  .footer-alt ul li {
    font-size: 11px;
    line-height: 16px;
    display: inline-block;
    padding-right: 24px;
}

.footer-alt ul li:first-child {
    padding: 0 24px 0 0;
}

