
.back-image{
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-Hero-MSCOM-Outlook-iOS-Android:VP4-1260x600);
    height: 600px;
    margin-top: 10rem;
    margin-bottom: 7rem;
    background-position: center;
    background-size: cover;
    
}
.carousel-caption{
    margin-bottom: 15rem;
    margin-right: 50rem;
}




